header {
    background: url('img/white-building.jpg');
    background-size: cover;
    background-position: center;
    min-height: 800px;
}
.title-logo {
  max-width: 40rem;
}
.title-logo-wrapper {
  margin: 4rem auto;
}
.portfolio-parallax {
  height: 95vw;
}
.portfolio-title {
  margin: 2rem auto;
  font-weight: bold;
}
.portfolio-title-wrapper {
  margin-bottom: 4rem;
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.tabs .indicator {
  background-color: #000;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}
.contact-alignment {
  margin: 7rem auto;
}
@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
  .title-logo-wrapper {
    margin: 1rem auto;
  }
}