body {
  opacity: 1;
  transition: 2s opacity;
}
body.fade {
  opacity: 0;
  transition: none;
}
.landing-parallax {
  height: 100vh;
}
.landing-img {
  height: 100vh;
}
.title-logo {
  width: 40vw;
}
.title-logo-wrapper {
  margin: 4rem auto;
}
.headshot {
  border-radius: 50%;
  border: solid 5px;
}
.portfolio-parallax {
  height: 95vw;
}
.portfolio-title {
  margin: 2rem auto;
  font-weight: bold;
}
.portfolio-title-wrapper {
  margin-bottom: 4rem;
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.tabs .indicator {
  background-color: #000;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}
.contact-alignment {
  margin: 7rem auto;
}
@media screen and (max-width: 670px){
  .title-logo {
    width: 80vw;
  }
  .title-logo-wrapper {
    margin: 1rem auto;
  }
}